/* Load a font family from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Mobile-First Default Styles */
header {
  background-color: #096219;
  color: #d89557;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0; /* Change the margin */
  font-size: 26px; /* Change the font size */
  font-weight: bolder;
  font-style: initial;
}

.navbar ul {
  list-style-type: none;
  background-color: #333; /* Change background color */
  padding: 10px; /* Change the padding */
  margin: 0;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}
.navbar li {
  float: left;
  padding: 5px; /* Change the padding */
  font-size: 24px; /* Change the font size */
}

main {
  font-size: 16px;
  background-color: #e4e4e4; /* Change the background color of the page body */
  color: #ae6f2f; /* Change the default text color */
  font-family: "Roboto", sans-serif; /* Customize the font family */
  margin: 0;
  padding: 0;
}

section {
  padding: 25px; /* Add padding between sections */
  margin: 20px 0; /* Add margin between sections */
  border: solid 5px rgb(98, 109, 109);
}

h2 {
  color: navy;
  text-align: left;
  font-size: 24px;
  font-weight: bolder;
}

#About {
  background-color: #d2edd3;
  padding: 30px 20px;
  text-align: left;
}

#Experience {
  background-color: #d2edd3;
  padding: 30px 20px;
  margin: 0;
}

.job {
  margin-bottom: 25px; /* Space between jobs */
}

.job-header {
  display: flex;
  justify-content: space-between; /* Align job title to the left and dates to the right */
  align-items: center; /* Center the items vertically */
  margin-bottom: 10px;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
  color: #974e05;
}

.job-dates {
  font-style: italic;
  color: #555; /* Lighter color for dates */
}

.job-description {
  padding-left: 15px; /* Indent the description slightly */
  font-size: 1em;
  line-height: 1.5;
}

#Skills {
  background-color: #d2edd3;
  padding: 30px 20px;
}

#Projects {
  background-color: #d2edd3;
  padding: 30px 20px;
}

#Connect {
  background-color: #d2edd3;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  main {
    width: 100%;
  }
}

/* <600px, 601px, 768px, 992px, 1200px */
